@import "../libs/swiper/swiper";
@import "../libs/aos/aos";

//customization
.swiper-pagination{
  position: absolute;
  bottom: auto !important;
  top: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  .swiper-pagination-bullet{
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 .875rem;
    cursor: pointer;
    transition: .3s;
    &:hover{
      background-color: $lightTextBlue;
    }
    &.swiper-pagination-bullet-active{
      background-color: $lightTextBlue;
      cursor: default;
    }
  }
  @include mq_lg{
    top: 10vw;
  }
  @include mq_md{
    .swiper-pagination-bullet{
      width: 1.25rem;
      height: 1.25rem;
    }
  }
}

.swiper-btn{
  position: absolute;
  top: 18.125rem;
  z-index: 10;
  width: 3.625rem;
  height: 3.625rem;
  border-radius: 50%;
  @include bg_set(contain);
  background-image: url("data:image/svg+xml,%3Csvg width='54' height='54' viewBox='0 0 54 54' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.375 27C3.375 33.2657 5.86406 39.2748 10.2946 43.7054C14.7251 48.1359 20.7343 50.625 27 50.625C33.2657 50.625 39.2748 48.1359 43.7054 43.7054C48.1359 39.2748 50.625 33.2657 50.625 27C50.625 20.7343 48.1359 14.7251 43.7054 10.2946C39.2748 5.86406 33.2657 3.375 27 3.375C20.7343 3.375 14.7251 5.86406 10.2946 10.2946C5.86406 14.7251 3.375 20.7343 3.375 27ZM54 27C54 34.1608 51.1554 41.0284 46.0919 46.0919C41.0284 51.1554 34.1608 54 27 54C19.8392 54 12.9716 51.1554 7.90812 46.0919C2.84464 41.0284 0 34.1608 0 27C0 19.8392 2.84464 12.9716 7.90812 7.90812C12.9716 2.84464 19.8392 0 27 0C34.1608 0 41.0284 2.84464 46.0919 7.90812C51.1554 12.9716 54 19.8392 54 27ZM38.8125 25.3125C39.2601 25.3125 39.6893 25.4903 40.0057 25.8068C40.3222 26.1232 40.5 26.5524 40.5 27C40.5 27.4476 40.3222 27.8768 40.0057 28.1932C39.6893 28.5097 39.2601 28.6875 38.8125 28.6875H19.2611L26.5072 35.9302C26.6641 36.0871 26.7886 36.2734 26.8735 36.4784C26.9584 36.6834 27.0021 36.9031 27.0021 37.125C27.0021 37.3469 26.9584 37.5666 26.8735 37.7716C26.7886 37.9766 26.6641 38.1629 26.5072 38.3198C26.3504 38.4766 26.1641 38.6011 25.9591 38.686C25.7541 38.7709 25.5344 38.8146 25.3125 38.8146C25.0906 38.8146 24.8709 38.7709 24.6659 38.686C24.4609 38.6011 24.2746 38.4766 24.1178 38.3198L13.9928 28.1947C13.8356 28.038 13.7109 27.8518 13.6258 27.6468C13.5408 27.4417 13.497 27.222 13.497 27C13.497 26.778 13.5408 26.5583 13.6258 26.3532C13.7109 26.1482 13.8356 25.962 13.9928 25.8053L24.1178 15.6803C24.4346 15.3634 24.8644 15.1854 25.3125 15.1854C25.7606 15.1854 26.1904 15.3634 26.5072 15.6803C26.8241 15.9971 27.0021 16.4269 27.0021 16.875C27.0021 17.3231 26.8241 17.7529 26.5072 18.0697L19.2611 25.3125H38.8125Z' fill='%239FAABC'/%3E%3C/svg%3E%0A");
  opacity: 0.75;
  transition: .3s;
  cursor: pointer;
  &:hover{
    opacity: 1;
  }
  &.swiper-button-disabled{
    opacity: 0.25;
    cursor: default;
  }
  &.swiper-prev{
    left: -1.5rem;
    transform: translateX(-100%);
    @include mq_lg{
      left: -0.5rem;
    }
  }
  &.swiper-next{
    right: -1.5rem;
    transform: rotate(180deg) translateX(-100%);
    @include mq_lg{
      right: -0.5rem;
    }
  }
  @include mq_sm{
    width: 2.5rem;
    height: 2.5rem;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.5 12C1.5 14.7848 2.60625 17.4555 4.57538 19.4246C6.54451 21.3938 9.21523 22.5 12 22.5C14.7848 22.5 17.4555 21.3938 19.4246 19.4246C21.3938 17.4555 22.5 14.7848 22.5 12C22.5 9.21523 21.3938 6.54451 19.4246 4.57538C17.4555 2.60625 14.7848 1.5 12 1.5C9.21523 1.5 6.54451 2.60625 4.57538 4.57538C2.60625 6.54451 1.5 9.21523 1.5 12ZM24 12C24 15.1826 22.7357 18.2348 20.4853 20.4853C18.2348 22.7357 15.1826 24 12 24C8.8174 24 5.76516 22.7357 3.51472 20.4853C1.26428 18.2348 0 15.1826 0 12C0 8.8174 1.26428 5.76516 3.51472 3.51472C5.76516 1.26428 8.8174 0 12 0C15.1826 0 18.2348 1.26428 20.4853 3.51472C22.7357 5.76516 24 8.8174 24 12ZM6.75 11.25C6.55109 11.25 6.36032 11.329 6.21967 11.4697C6.07902 11.6103 6 11.8011 6 12C6 12.1989 6.07902 12.3897 6.21967 12.5303C6.36032 12.671 6.55109 12.75 6.75 12.75H15.4395L12.219 15.969C12.1493 16.0387 12.094 16.1215 12.0562 16.2126C12.0185 16.3037 11.9991 16.4014 11.9991 16.5C11.9991 16.5986 12.0185 16.6963 12.0562 16.7874C12.094 16.8785 12.1493 16.9613 12.219 17.031C12.2887 17.1007 12.3715 17.156 12.4626 17.1938C12.5537 17.2315 12.6514 17.2509 12.75 17.2509C12.8486 17.2509 12.9463 17.2315 13.0374 17.1938C13.1285 17.156 13.2113 17.1007 13.281 17.031L17.781 12.531C17.8508 12.4613 17.9063 12.3786 17.9441 12.2874C17.9819 12.1963 18.0013 12.0987 18.0013 12C18.0013 11.9013 17.9819 11.8037 17.9441 11.7125C17.9063 11.6214 17.8508 11.5387 17.781 11.469L13.281 6.969C13.2113 6.89927 13.1285 6.84395 13.0374 6.80621C12.9463 6.76848 12.8486 6.74905 12.75 6.74905C12.6514 6.74905 12.5537 6.76848 12.4626 6.80621C12.3715 6.84395 12.2887 6.89927 12.219 6.969C12.1493 7.03873 12.094 7.12152 12.0562 7.21262C12.0185 7.30373 11.9991 7.40138 11.9991 7.5C11.9991 7.59862 12.0185 7.69627 12.0562 7.78738C12.094 7.87848 12.1493 7.96127 12.219 8.031L15.4395 11.25H6.75Z' fill='white'/%3E%3C/svg%3E%0A"); 
    &.swiper-prev{
      left: .625rem;
      transform: rotate(180deg);
    }
    &.swiper-next{
      transform: none;
      right: 0.625rem;
    }
  }
}