//links and buttons
.article_link{
  color: $linkColor;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  position: relative;
  padding: 0.5em;
  padding-right: calc(1.5rem + .5em);
  &:before{
    @include bf_af;
    width: 1rem;
    height: 0.875rem;
    top: 50%;
    transform: translateY(-50%);
    right: .5em;
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='15' viewBox='0 0 17 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.29327 0.293031C9.1058 0.480558 9.00049 0.734866 9.00049 1.00003C9.00049 1.26519 9.1058 1.5195 9.29327 1.70703L14.5863 7.00003L9.29327 12.293C9.11112 12.4816 9.01032 12.7342 9.0126 12.9964C9.01488 13.2586 9.12005 13.5094 9.30546 13.6948C9.49086 13.8803 9.74168 13.9854 10.0039 13.9877C10.2661 13.99 10.5187 13.8892 10.7073 13.707L16.7073 7.70703C16.8947 7.5195 17.0001 7.26519 17.0001 7.00003C17.0001 6.73487 16.8947 6.48056 16.7073 6.29303L10.7073 0.293031C10.5197 0.10556 10.2654 0.000244141 10.0003 0.000244141C9.73511 0.000244141 9.4808 0.10556 9.29327 0.293031Z' fill='%23FEDBC2'/%3E%3Cpath d='M1.29308 0.293031C1.10561 0.480558 1.00029 0.734866 1.00029 1.00003C1.00029 1.26519 1.10561 1.5195 1.29308 1.70703L6.58608 7.00003L1.29308 12.293C1.19757 12.3853 1.12139 12.4956 1.06898 12.6176C1.01657 12.7396 0.988985 12.8709 0.987831 13.0036C0.986677 13.1364 1.01198 13.2681 1.06226 13.391C1.11254 13.5139 1.18679 13.6255 1.28069 13.7194C1.37458 13.8133 1.48623 13.8876 1.60913 13.9379C1.73202 13.9881 1.8637 14.0134 1.99648 14.0123C2.12926 14.0111 2.26048 13.9835 2.38249 13.9311C2.50449 13.8787 2.61483 13.8025 2.70708 13.707L8.70708 7.70703C8.89455 7.5195 8.99987 7.26519 8.99987 7.00003C8.99987 6.73487 8.89455 6.48056 8.70708 6.29303L2.70708 0.293031C2.51955 0.10556 2.26525 0.000244141 2.00008 0.000244141C1.73492 0.000244141 1.48061 0.10556 1.29308 0.293031Z' fill='%23FEDBC2'/%3E%3C/svg%3E%0A");
    @include bg_set(contain);
    transition: .3s;
  }
  &:hover{
    background-color: $darkBlue;
    padding-right: calc(2rem + .5em);
  }
  @include mq_x_sm{
    font-size: 0.75rem;
  }
}

.play_btn{
  display: block;
  position: absolute;
  z-index: 5;
  width: 7.6875rem;
  height: 7.6875rem;
  border-radius: 50%;
  border: 2px solid #fff;
  top: 50%;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%,-50%);
  background-image: url("data:image/svg+xml,%3Csvg width='23' height='36' viewBox='0 0 23 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0V27.5056V36L23 18L0 0Z' fill='%23EEEEEE'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 56% center;
  transition: .3s;
  &:hover{
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='36' viewBox='0 0 23 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0V27.5056V36L23 18L0 0Z' fill='%23000'/%3E%3C/svg%3E%0A");
    & + .video_box{
      &:before{
        opacity: 0.5;
      }
    }
  }
  &:active{
    box-shadow: 0 0 10px 5px rgba(255,255,255,.5);
  }
  @include mq_md{
    width: 5rem;
    height: 5rem;
    background-size: 20%;
  }
  @include mq_x_sm{
    width: 2.5rem;
    height: 2.5rem;
  }
}

.next_section{
  display: inline-block;
  position: absolute;
  width: 4.25rem;
  height: 4.25rem;
  background-image: url("data:image/svg+xml,%3Csvg width='68' height='68' viewBox='0 0 68 68' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M34 45.3335C33.3379 45.3348 32.6964 45.1042 32.1866 44.6818L15.1866 30.5151C14.608 30.0342 14.2442 29.3431 14.1751 28.5939C14.106 27.8447 14.3374 27.0987 14.8183 26.5201C15.2992 25.9415 15.9903 25.5776 16.7395 25.5086C17.4887 25.4395 18.2347 25.6709 18.8133 26.1518L34 38.8451L49.1866 26.6051C49.4764 26.3698 49.8099 26.194 50.1679 26.088C50.5258 25.9819 50.9012 25.9476 51.2725 25.9871C51.6437 26.0266 52.0035 26.1391 52.3311 26.3181C52.6588 26.4971 52.9478 26.7391 53.1816 27.0301C53.4411 27.3215 53.6376 27.6632 53.7589 28.034C53.8801 28.4048 53.9235 28.7967 53.8862 29.185C53.849 29.5734 53.732 29.9499 53.5425 30.2909C53.353 30.6319 53.0951 30.9301 52.785 31.1668L35.785 44.8518C35.2606 45.2074 34.6321 45.377 34 45.3335Z' fill='white'/%3E%3C/svg%3E%0A");
  @include bg_set(contain);
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  transition: .3s;
  &:hover{
    animation: downUp .75s ease-in-out infinite;
  }
  @include mq_sm{
    height: 2.25rem;
    width: 2.25rem;
    bottom: 2rem;
  }
}
@keyframes downUp{
  0%{transform: translate(-50%, 0);}
  50%{transform: translate(-50%, .5rem);}
  100%{transform: translate(-50%, 0);}
}

.loadmore_btn{
  display: inline-block;
  font-size: 1.5rem;
  padding: .25em 1.4167em;
  font-weight: 700;
  color: #fff;
  background-color: $lighterTextBlue;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: .4167em;
  transition: .3s;
  &:hover{
    background-color: $linkColor;
    color: $darkBlue;
  }
}

.watch_btn{
  display: inline-flex;
  align-items: center;
  color: $darkenTextBlue;
  font-family: $roboto;
  span{
    transition: .3s;
  }
  .play_btn{
    position: static;
    width: 3rem;
    height: 3rem;
    display: inline-block;
    transform: none;
    border-color: $darkenTextBlue;
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='16' viewBox='0 0 11 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.0673828 0V12.2247V16L10.0674 8L0.0673828 0Z' fill='%23778293'/%3E%3C/svg%3E%0A");
    background-position: 60% 50%;
    margin-right: 0.5rem;
    @include mq_sm{
      background-position: 55% 50%;
    }
  }
  &:hover{
    .play_btn{
      background-color: $darkenTextBlue;
      background-image: url("data:image/svg+xml,%3Csvg width='11' height='16' viewBox='0 0 11 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.0673828 0V12.2247V16L10.0674 8L0.0673828 0Z' fill='%23fff'/%3E%3C/svg%3E%0A");
    }
    span{
      font-weight: 700;
    }
  }
}