.schedule_section{
  .container{
    padding: 0;
  }
  .schedule_title{
    font-size: 4.325rem;
    color: $darkBlue;
    font-weight: 700;
    margin-left: 1.6em;
    @include mq_lg{
      font-size: 3.5rem;
    }
    @include mq_md{
      font-size: 3rem;
    }
    @include mq_sm{
      font-size: 2.25rem;
    }
    @include mq_x_sm{
      font-size: 1.875rem;
    }
  }
}

.month_item{
  .month_head{
    background-color: #fff;
    padding: 7rem 3.4375rem 4.5rem;
    .month_title{
      font-size: 1.625rem;
      line-height: 1.1;
      letter-spacing: 0.055em;
      color: $darkenTextBlue;
      font-weight: 700;
      position: relative;
      display: inline-block;
      &:before{
        @include bf_af;
        width: 100vw;
        height: 1px;
        right: -0.5rem;
        bottom: 0;
        background-color: $darkenTextBlue;
      }
      @include mq_sm{
        font-size: 1.25rem;
      }
    }
  }
  .month_events{
    background-color: $darkBlue;
    color: #fff;
    position: relative;
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &:before{
      @include bf_af;
      width: 100vw;
      height: 100%;
      background-color: $darkBlue;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    .event_item{
      position: relative;
      z-index: 1;
      width: calc(50% - 1rem);
      display: flex;
      margin-bottom: 6.875rem;
      padding-right: 1rem;
      .event_date{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 25%;
        padding: 1rem;
        .number{
          font-size: 1.5rem;
          font-weight: 700;
          margin-bottom: 0.25rem;
        }
      }
      .event_content{
        flex: 1;
        padding-bottom: 1.875rem;
        border-bottom: 1px solid $lightTextBlue;
        .event_title{
          font-size: 1.625rem;
          line-height: 1.1;
          font-weight: 700;
          letter-spacing: 0.055em;
          color: $lightTextBlue;
          margin-bottom: 1.5em;
        }
        .time{
          font-size: 0.875rem;
          font-weight: 300;
          letter-spacing: 0.055em;
          margin-bottom: 2.5em;
        }
        .event_desc{
          line-height: 1.6;
        }
        .event_place{
          margin-top: 2rem;
        }
        .article_link{
          padding-left: 0;
          margin-top: 1.5rem;
        }
      }
      @include mq_lg{
        width: 100%;
      }
      @include mq_sm{
        .event_date{
          .number{
            font-size: 1.125rem;
          }
        }
        .event_content{
          font-size: 0.875rem;
          .event_title{
            font-size: 1.25rem;
          }
        }
      }
      @include mq_x_sm{
        margin-bottom: 4.125rem;
        .event_date{
          width: 30%; 
        }
        .event_content{
          font-size: 0.875rem;
          padding-bottom: 1.125rem;
          .event_title{
            margin-bottom: .25rem;
          }
          .time{
            margin-bottom: 0.25rem;
          }
          .event_place{
            margin-top: 0.75rem;
          }
          .article_link{
            margin-top: 0.625rem;
          }
        }
      }
    }
  }
  &:first-of-type{
    .month_head{
      padding-top: 3.75rem;
    }
  }
  @include mq_sm{
    .month_head{
      padding-bottom: 1.75rem;
    }
    .month_events{
      padding-top: 2rem;
    }
    &:first-of-type{
      .month_head{
        padding-top: 2.75rem;
      }
    }
  }
}